@import "./theme";

.wan-c-about {
    .logo-area {
        .bg-white();
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px 0;
        font-size: 36px;
        img {
            display: block;
            margin-bottom: 20px;
        }
    }
    .wanc-module-title {
        .title {
            border-left: 3px solid @color; /*no*/
            padding-left: 10px;
        }
    }
    .about-content {
        p {
            line-height: 44px;
            text-indent: 48px;
        }

    }
}

.wan-c-upload {
    .photo {
        opacity: .1;
        display: none;
    }
}
