@import "./theme";

.order-subscribe-congra {
    img {
        display: block;
        width: 100%;
    }
}

.order-success {
    margin-top: 100px !important;
    .order-sub-img {
        img {
            display: block;
            width: 170px;
        }
    }
    .order-owner {
        h2 {
            font-size: 32px;
            color: #333;
        }
        em {
            color: @color;
            &.blue {
                color: #5381f0;
            }
        }
    }
    .order-running-other {
        span.title {
            font-size: 32px;
        }
    }
    .join-code {
        text-align: center;
        line-height: 44px;
        img {
            display: block;
            margin: 0 auto;
            width: 230px;
        }
        .note {
            color: @color;
        }
    }
    .code-relative {
        position: relative;
        opacity: .5;
    }
    .icon-join-success {
        position: absolute;
        width: 116px;
        height: 99px;
        background: url("../images/icon-success.jpg") no-repeat;
        background-size: 100%;
        top: -30px;
        right: 85px;

    }
    span.price {
        color: @color;
        font-size: 32px;
    }
    .order-success-info {
        font-size: 28px;
        color: #666;
        line-height: 60px;
    }
    .wanc-module-text {
        * {
            margin-right: 25px;
        }
        img {
            width: 64px;
        }
    }
    .icon-phone {
        width: 50px;
        height: 50px;
        display: block;
        background: url("../images/icon-call.png") no-repeat;
        background-size: 100%;
    }

}

.order-confirm {
    .wanc-module-content {
        .order-owner {
            padding: 0;
            margin-top: 0;
        }
    }
}